//@import url("path/to/common.css");

// bar css
// GTK CSS File for Eww
* {
    all: unset; //Unsets everything so you can style everything from scratch
}

window {
    background-color: #1d212a;
    color: #626b7e;
    font-family: "Iosevka Oblivion";
}

button {
    all: unset;
    background-color: #1d212a;
    padding: 10px;
}

// Styles on classes (see eww.xml for more information)

.systems slider {
    all: unset;
    color: #89e19c;
}

.slider-vol scale trough highlight {
    all: unset;
    background-color: #fc8993;
    color: #000000;
    border-radius: 10px;
}

.slider-vol scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 10px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.slider-ram scale trough highlight {
    all: unset;
    background-color: #d35d6e;
    color: #000000;
    border-radius: 10px;
}

.slider-ram scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.label-ram {
    font-size: 20px;
    color: #d990cd;
}

.label-vol {
    color: #89e19c;
    font-size: 22px;
}
.time {
    padding: 0 20px 0 0px;
    color: #c2c6c3;
}

.workspaces {
    padding-left: 10px;
}
.workspaces button:hover {
    color: #d35d6e;
}
// Active WSP = Current WSP
.workspaces .active_wsp {
    color: #fc8993;
}
// Full WSP = Windows are in a workspace
.workspaces .full_wsp {
    color: #4e4e4e;
}

.mpd-title .song {
    color: #c2c6c3;
}

.network-label {
    color: #c2c6c3;
}

.battery-sli scale trough highlight {
    all: unset;
    background-image: linear-gradient(90deg, hsla(0, 100%, 77%, 1) 0%, hsla(133, 87%, 77%, 1) 40%);
    color: #000000;
    border-radius: 10px;
}

.battery-sli scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 10px;
    min-width: 50px;
    margin-left: 8px;
    margin-right: 10px;
}

.label-batt {
    color: #a7bdfb;
    font-size: 17px;
    padding-bottom: 2px;
}

.battery-level-st {
    background-color: #f9f9f9;
    color: #212121;
}

.musicon {
    color: #fc8993;
    //font-family: "Material Design Icons Desktop";
    font-size: 14px;
}

//Widgets full
.profile {
    background-color: #1d212a;
    padding: 30px 25px 10px 25px;
}

.profile-icon {
    background-image: url("/home/aidoneus/Downloads/Images/profile.png");
    background-size: 120px;
    background-repeat: no-repeat;
    margin-bottom: -30px;
    margin-left: 25px;
}

.profile-name {
    font-family: "Sarasa Term J", "Rec Mono Casual";
    font-size: 18px;
    margin-top: 20px;
}

.hostname {
    margin-bottom: -20px;
    color: #dadada;
}

.username {
    font-family: "VictorMono Nerd Font Mono";
    font-style: italic;
    font-size: 14px;
    color: #bbc4d9;
}

.file-launcher {
    padding: 6px;
    font-size: 16px;
    font-family: "Sarasa Term J";
}

.file-launcher button {
    padding: 5px 20px;
    color: #bbc4d9;
    transition: all 100ms;
}

.file-launcher button:hover {
    background-color: #f2b4ba;
    color: #3c414c;
}

.hour,
.dot-dot,
.minute {
    font-family: "JetBrainsMonoMedium Nerd Font Mono", "HandyCasualCondensed-Regular";
    font-size: 40px;
    font-weight: bold;
}

.hour {
    color: #e07979;
}

.minute {
    color: #95e7aa;
}

.dot-dot {
    color: #a7dbfd;
}

.weather {
    padding: 20px; 
    font-family: "Sarasa Term J";
    font-size: 14px;
    color: #e3e3e3;
}

//.current-temp {
    //font-weight: bold;
//}

.date {
    padding: 10px;
}
.date .month {
    background-color: #1d212a;
    font-family: "JetBrainsMonoMedium Nerd Font Mono";
    font-weight: bold;
    font-size: 18px;
    color: #e3e3e3;
}

.player-art {
    background-color: #1d212a;
}

.song-art {
    background-size: 160px;
    padding: 80px;
    margin-top: 30px;
    border-radius: 5px;
    background-repeat: no-repeat;
}

.launcher {
    padding: 6px 4px 4px 10px;
    background-color: #1d212a;
}

.launcher button {
    background-size: 35px;
    background-repeat: no-repeat;
}

.player-btns button {
    color: #a7bdfb;
    font-family: "Material Design Icons Desktop";
    font-size: 26px;
}

.player-btns .toggle {
    background-size: 20px;
    margin-top: 14px;
    background-repeat: no-repeat;
}

.player-btns button:hover {
    color: #95c4ce;
}

.song-data {
    font-size: 14px;
    font-weight: bold;
    color: #e3e3e3;
}

.song-title,
.song-artist {
    font-family: "Sarasa Term HC", "Stick";
    font-size: 14px;
    padding-left: 15px;
}

.musicon {
    color: #ff6969;
    font-family: "Material Design Icons Desktop";
    font-size: 16px;
    padding-right: 6px;
}

.song-artist .musicon {
    color: #4eff96;
}

.quotes {
    font-size: 14px;
    color: #dadada;
}

.rofi,
.screenshot {
    background-size: 40px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.power {
    font-size: 43px;
    padding: 9px;
    color: #fc8993;
}

.lock-icon {
    font-size: 36px;
    padding: 22px;
}

.slider-bars scale {
    padding-bottom: 25px;
}

//.slider-bars {
    //padding-bottom: 10px;
//}

.slider-bars-batt scale trough highlight {
    all: unset;
    background-image: linear-gradient(360deg, hsla(0, 100%, 77%, 1) 30%, hsla(133, 87%, 77%, 1) 70%);
    color: #000000;
    border-radius: 50px;
}

.slider-bars-vol scale trough highlight {
    all: unset;
    background-color: #fc8993;
    color: #000000;
    border-radius: 50px;
}

.slider-bars-cpu scale trough highlight {
    all: unset;
    background-color: #fbdf90;
    color: #000000;
    border-radius: 50px;
}

.slider-bars-cpu-temp scale trough highlight {
    all: unset;
    background-color: #a7bdfb;
    color: #000000;
    border-radius: 50px;
}

.slider-bars-ram scale trough highlight {
    all: unset;
    background-color: #d990cd;
    color: #000000;
    border-radius: 50px;
}

.slider-bars-bright scale trough highlight {
    all: unset;
    background-color: #fbe3eb;
    color: #000000;
    border-radius: 50px;
}

.slider-bars scale trough {
    all: unset;
    background-color: #272c38;
    border-radius: 50px;
    min-height: 130px;
    min-width: 10px;
}

.slider-bars label {
    font-family: "Material Design Icons Desktop";
    font-size: 18px;
}
