#XfceNotifyWindow {
    background-color: #fdf8fc;
    border-radius: 0px;
    border: 1px solid #fdf8fc;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-size: 12;
    color: #211D33;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color : #CF074C;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color : #A61C4D;
}

#XfceNotifyWindow progressbar {
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    min-height: 7px;
    background-image: none;
    background-color: shade(#211D33, 1.2);
}

#XfceNotifyWindow progressbar trough {
    min-height: 7px;
    background-image: none;
    background-color: #CF074C;
    border: 0px solid shade(#CF074C, 0.6);
    /*border-radius: 0px;*/
}
