<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>

<menu id="root-menu-71489" label="Accessories">
	<separator label="Accessories"/>
	<item label="Nitrogen" icon="/home/aidoneus/.icons/Crayons/walchang.png">
		<action name="Execute">
			<command>nitrogen</command>
		</action>
	</item>
	<item label="Color Picker" icon="/home/aidoneus/.icons/Crayons/coloring_book_for_me.png">
		<action name="Execute">
			<command>kcolorchooser</command>
		</action>
	</item>
	<item label="Archive Manager" icon="/home/aidoneus/.icons/Crayons/simple_unrar.png">
		<action name="Execute">
			<command>engrampa</command>
		</action>
	</item>
	<item label="Galculator" icon="/home/aidoneus/.icons/Crayons/calcu.png">
		<action name="Execute">
			<command>galculator</command>
		</action>
	</item>
	<item label="TLPUI" icon="/home/aidoneus/.icons/Crayons/romtoolbox.png">
		<action name="Execute">
			<command>tlpui</command>
		</action>
	</item>
</menu>
<menu id="inet" label="Internet">
	<separator label="Internet"/>
	<item label="Firefox" icon="/home/aidoneus/.icons/Crayons/firefox_focus.png">
		<action name="Execute">
			<command>firefox</command>
		</action>
	</item>
	<item label="Vivaldi" icon="/home/aidoneus/.icons/Crayons/vivaldi.png">
		<action name="Execute">
			<command>vivaldi-stable</command>
		</action>
	</item>
	<item label="Thunderbird" icon="/home/aidoneus/.icons/Crayons/mail.png">
		<action name="Execute">
			<command>thunderbird</command>
		</action>
	</item>
	<item label="Pcloud" icon="/home/aidoneus/.icons/Crayons/pcloud.png">
		<action name="Execute">
			<command>/opt/pcloud/pcloud</command>
		</action>
	</item>
	<item label="Mega" icon="/home/aidoneus/.icons/Crayons/mega.png">
		<action name="Execute">
			<command>megasync</command>
		</action>
	</item>
	<item label="FDM" icon="/home/aidoneus/.icons/Crayons/download_accelerator_plus.png">
		<action name="Execute">
			<command>/opt/freedownloadmanager/fdm</command>
		</action>
	</item>
	<item label="XDM" icon="/home/aidoneus/.icons/Crayons/downloader_and_private_browser.png">
		<action name="Execute">
			<command>xdman</command>
		</action>
	</item>
</menu>
<menu id="multimedia" label="Multimedia">
	<separator label="Multimedia"/>
	<item label="VLC" icon="/home/aidoneus/.icons/Crayons/vlc.png">
		<action name="Execute">
			<command>vlc</command>
		</action>
	</item>
	<item label="Spotify" icon="/home/aidoneus/.icons/Crayons/spotify.png">
		<action name="Execute">
			<command>spotify</command>
		</action>
	</item>
	<item label="Ncmpcpp" icon="/home/aidoneus/.icons/Crayons/retromusic.png">
		<action name="Execute">
			<command>kitty mpd &amp;&amp; ncmpcpp</command>
		</action>
	</item>
</menu>
<menu id="root-menu-161838" label="Tools">
	<separator label="Tools"/>
	<item label="Fetch" icon="/home/aidoneus/.icons/Crayons/clumsy_bird.png">
		<action name="Execute">
			<command>kitty  neofetch</command>
		</action>
	</item>
	<item label="Zathura" icon="/home/aidoneus/.icons/Crayons/samsung_write_on_pdf.png">
		<action name="Execute">
			<command>zathura</command>
		</action>
	</item>
	<item label="Htop" icon="/home/aidoneus/.icons/Crayons/barcodescanner.png">
		<action name="Execute">
			<command>kitty htop</command>
		</action>
	</item>
	<item label="Bashtop" icon="/home/aidoneus/.icons/Crayons/setcpu.png">
		<action name="Execute">
			<command>kitty bashtop</command>
		</action>
	</item>
	<item label="Cmatrix" icon="/home/aidoneus/.icons/Crayons/nine_square.png">
		<action name="Execute">
			<command>kitty cmatrix</command>
		</action>
	</item>
	<item label="Kickshaw" icon="/home/aidoneus/.icons/Crayons/notebloc.png">
		<action name="Execute">
			<command>kickshaw</command>
		</action>
	</item>
	<item label="Oomox" icon="/home/aidoneus/.icons/Crayons/extra_paint_theme.png">
		<action name="Execute">
			<command>/var/lib/flatpak/exports/bin/com.github.themix_project.Oomox</command>
		</action>
	</item>
	<menu id="root-menu-161838-502542" label="Screenshot" icon="/home/aidoneus/.icons/Crayons/noah_camera.png">
		<separator label="Screenshot"/>
		<item label="Screenshot Now" icon="/home/aidoneus/.icons/Crayons/a_better_camera_unlocked.png">
			<action name="Execute">
				<command>scrot &apos;snap_%d_%m_%y_%H_%M.png&apos; -e &apos;mv $f ~/Documents/Snapshots/&apos;</command>
			</action>
		</item>
		<item label="Screenshot 5 Sec." icon="/home/aidoneus/.icons/Crayons/a_better_camera_unlocked.png">
			<action name="Execute">
				<command>scrot &apos;snap_%d_%m_%y_%H_%M.png&apos; -d 5 -e &apos;mv $f ~/Documents/Snapshots/&apos;</command>
			</action>
		</item>
		<item label="Screenshot Select" icon="/home/aidoneus/.icons/Crayons/a_better_camera_unlocked.png">
			<action name="Execute">
				<command>scrot &apos;snap_%d_%m_%y_%H_%M.png&apos; -s -e &apos;mv $f ~/Documents/Snapshots/&apos;</command>
			</action>
		</item>
	</menu>
</menu>
<menu id="settings-1" label="Settings">
	<item label="Configurations" icon="/home/aidoneus/.icons/Crayons/collage_maker.png">
		<action name="Execute">
			<command>obconf</command>
		</action>
	</item>
	<item label="Themes" icon="/home/aidoneus/.icons/Crayons/samsung_themes.png">
		<action name="Execute">
			<command>lxappearance</command>
		</action>
	</item>
	<item label="Power Manager" icon="/home/aidoneus/.icons/Crayons/batterybot.png">
		<action name="Execute">
			<command>xfce4-power-manager-settings</command>
		</action>
	</item>
	<item label="Qt Settings" icon="/home/aidoneus/.icons/Crayons/quizup.png">
		<action name="Execute">
			<command>qt5ct</command>
		</action>
	</item>
	<item label="Tint2 Settings" icon="/home/aidoneus/.icons/Crayons/droidedit_free.png">
		<action name="Execute">
			<command>tint2conf</command>
		</action>
	</item>
</menu>
<menu id="new menu 1" label="Openbox">
	<separator label="Openbox"/>
	<item label="Reconfigure" icon="/home/aidoneus/.icons/Crayons/backup.png">
		<action name="Reconfigure"/>
	</item>
	<item label="Openbox RC" icon="/home/aidoneus/.icons/Crayons/notes_2_alt.png">
		<action name="Execute">
			<command>geany .config/openbox/rc.xml</command>
		</action>
	</item>
	<item label="Openbox Autostart" icon="/home/aidoneus/.icons/Crayons/lockscreen_start.png">
		<action name="Execute">
			<command>geany .config/openbox/autostart</command>
		</action>
	</item>
</menu>

<menu id="root-menu" label="Openbox 3">
	<separator label=" Openbox "/>
	<item label="Apps" icon="/home/aidoneus/.icons/Crayons/app_drawer_13.png">
		<action name="Execute">
			<command>rofi -show drun</command>
		</action>
	</item>
	<separator/>
	<item label="Thunar" icon="/home/aidoneus/.icons/Crayons/file_manager.png">
		<action name="Execute">
			<command>thunar</command>
		</action>
	</item>
	<item label="Web" icon="/home/aidoneus/.icons/Crayons/firefox_focus.png">
		<action name="Execute">
			<command>firefox</command>
		</action>
	</item>
	<item label="Terminal" icon="/home/aidoneus/.icons/Crayons/connectbot.png">
		<action name="Execute">
			<command>kitty</command>
		</action>
	</item>
	<separator/>
	<menu id="root-menu-71489" icon="/home/aidoneus/.icons/Crayons/anymote_smart_remote.png"/>
	<menu id="inet" icon="/home/aidoneus/.icons/Crayons/wifi_map.png"/>
	<menu id="multimedia" icon="/home/aidoneus/.icons/Crayons/music_speed_changer.png"/>
	<menu id="root-menu-161838" icon="/home/aidoneus/.icons/Crayons/touchscreen_repair.png"/>
	<menu id="settings-1" icon="/home/aidoneus/.icons/Crayons/settings.png"/>
	<separator/>
	<menu id="new menu 1" icon="/home/aidoneus/.icons/Crayons/dropbox.png"/>
	<separator/>
	<item label="Exit" icon="/home/aidoneus/.icons/Crayons/bhim.png">
		<action name="Exit">
			<prompt>yes</prompt>
		</action>
	</item>
	<item label="Shutdown" icon="/home/aidoneus/.icons/Crayons/icarros.png">
		<action name="Execute">
			<command>~/.config/rofi/scripts/powermenu.sh</command>
		</action>
	</item>
</menu>

</openbox_menu>